@import url(/Users/macbook/Documents/GitHub/event-booster/src/sass/utils/_spin.css);
:root {
  --main-background-color: #212121;
  --background-overlay: #0b0b0b80;
  --main-title-color: #dc56c5;
  --event-name-color: #dc56c5;
  --other-event-text: #ffffff;
  --event-icons-color: #ffffff;
  --form-input-background: rgba(255, 255, 255, 0.2);
  --form-input-text: #939393;
  --form-imput-text-active: #cccccc;
  --form-imput-bgc-active: #dc56c5;
  --form-input-icons: #939393;
  --pagination-color-text: #ffffff;
  --pagination-color-active: #dc56c5;
  --footer-text-color: #939393;
  --modal-background-color: #fff2fd;
  --modal-title-color: #dc56c5;
  --modal-text-color: #0e0e0e;
  --modal-btn-text: #ffffff;
  --modal-btn-background: #4c00fe;
  --modal-more-author: #4c00fe;
  --modal-close-btn: #4c00fe;
  --modal-more-author-background: #fff2fd;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  display: block;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1279px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 27px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 65px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 85px;
    padding-bottom: 19px;
  }
}

@media screen and (min-width: 320px) {
  .text-footer {
    display: block;
    width: 260px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .text-footer {
    display: block;
    width: 525px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 320px) {
  .footer-text_links {
    display: block;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: var(--footer-text-color);
  }
}

@media screen and (min-width: 768px) {
  .footer-text_links {
    font-size: 16px;
    line-height: 1.22;
  }
}

.heart {
  color: red;
  font-size: 20px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 60px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .pagination {
    margin-top: 80px;
  }
}

.pagination__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: var(--pagination-color-text);
  list-style: none;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  padding: 5px 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .pagination__list li {
    font-size: 16px;
    line-height: 1.25;
  }
}

.pagination__list li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}

.pagination__list li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination__list li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination__list li.dots {
  font-size: 14px;
  line-height: 1.21;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .pagination__list li.dots {
    font-size: 16px;
    line-height: 1.25;
  }
}

.pagination__list li.btn {
  padding: 0 20px;
  border-radius: 50px;
}

.pagination li.active,
.pagination__list li.numb:hover,
.pagination__list li:first-child:hover,
.pagination__list li:last-child:hover {
  color: var(--pagination-color-active);
  border: 1px solid var(--pagination-color-active);
  border-radius: 25% 0%;
}

a {
  text-decoration: none;
}

.modal-list__item-title {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--modal-title-color);
}

@media screen and (min-width: 1280px) {
  .modal-list__item-title {
    font-size: 24px;
    margin-bottom: 7px;
  }
}

.modal-list__item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--modal-text-color);
}

@media screen and (min-width: 1280px) {
  .modal-list__item-text {
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal-list__item {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .modal-list__item {
    margin-bottom: 20px;
  }
}

.modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 13, 29, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 272px;
  background-color: var(--modal-background-color);
  border-radius: 150px 0px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 595px;
    border-radius: 300px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 930px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-right: 25px;
  padding: 0;
  width: 17px;
  height: 17px;
  border: none;
  cursor: pointer;
}

.modal__img--preview {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 102px;
  height: 102px;
}

.modal__img {
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}

@media screen and (min-width: 768px) {
  .modal__img {
    display: block;
    max-width: 233px;
    max-height: 416px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__img {
    max-width: 360px;
    max-height: 641px;
  }
}

.modal__content {
  padding: 75px 17px 104px 12px;
}

@media screen and (min-width: 768px) {
  .modal__content {
    padding: 28px 17px 56px 50px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__content {
    padding: 62px 30px;
  }
}

.modal__content--flex {
  margin-top: 18px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .modal__content--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .modal__content--flex {
    margin-top: 41px;
    margin-bottom: 45px;
  }
}

.modal__content--description {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal__content--description {
    margin-left: 30px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .modal__content--description {
    margin-left: 60px;
  }
}

.modal__icon {
  background-color: var(--modal-background-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list__item-text--price-margin {
  margin-bottom: 20px;
}

.modal-list__buy-tickets {
  line-height: 20px;
  padding: 9px 19px 11px 19px;
  border-radius: 5px;
  background-color: var(--modal-btn-background);
  color: var(--other-event-text);
  border-color: var(--modal-btn-background);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 145px;
  height: 40px;
}

@media screen and (max-width: 767.98px) {
  .modal-list__buy-tickets {
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-list__buy-tickets:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .modal-list__buy-tickets:not(:last-child) {
    margin-bottom: 31px;
  }
}

.modal__btn-more {
  display: block;
  padding: 10px 3px;
  color: var(--modal-more-author);
  line-height: 1.25;
  background-color: var(--modal-more-author-background);
  border-radius: 5px;
  border-color: var(--modal-more-author);
  width: 230px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .modal__btn-more {
    width: 255px;
    height: 40px;
  }
}

.search-form {
  text-align: center;
  padding-top: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form .input-search {
  margin-right: 30px;
}

@media screen and (max-width: 599px) {
  .search-form .input-search {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    padding-top: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    padding-top: 52px;
  }
}

@media screen and (max-width: 599px) {
  .search-form {
    display: -ms-grid;
    display: grid;
  }
  .search-form .datalist-country {
    left: 0%;
  }
}

.label-search {
  position: relative;
}

.input {
  padding-left: 30px;
  width: 270px;
  height: 40px;
  background-color: var(--form-input-background);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 0;
  border-radius: 20px;
  color: var(--form-input-text);
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.25;
  outline: none;
}

.input:focus, .input:hover {
  color: var(--form-imput-text-active);
}

.label-country::after {
  content: '';
  background-image: url(./../images/up.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 15px;
  height: 10px;
  left: 225px;
  bottom: 14px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out 0ms;
  transition: -webkit-transform 400ms ease-in-out 0ms;
  transition: transform 400ms ease-in-out 0ms;
  transition: transform 400ms ease-in-out 0ms, -webkit-transform 400ms ease-in-out 0ms;
}

.label-country:focus::after, .label-country:hover::after {
  content: '';
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 400ms ease-in-out 0ms;
  transition: -webkit-transform 400ms ease-in-out 0ms;
  transition: transform 400ms ease-in-out 0ms;
  transition: transform 400ms ease-in-out 0ms, -webkit-transform 400ms ease-in-out 0ms;
}

.btn-search {
  position: absolute;
  background-color: transparent;
  border: 0;
  color: var(--form-input-icons);
  left: 218px;
  top: 11px;
}

.icon-search {
  fill: var(--form-input-icons);
}

.icon-search:focus, .icon-search:hover {
  fill: var(--form-imput-bgc-active);
}

.header_logo {
  position: absolute;
  width: 108px;
  height: 90px;
  border-radius: 0 0 216px / 180px 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media screen and (min-width: 603px) {
  .header_logo {
    width: 180px;
    height: 151px;
    border-radius: 0 0 360px / 302px 0;
  }
}

@media screen and (min-width: 1024px) {
  .header_logo {
    width: 238px;
    height: 201px;
    border-radius: 0 0 476px / 402px 0;
  }
}

.header_title {
  margin: 0px auto 0 auto;
  width: 212px;
  color: var(--main-title-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (min-width: 603px) {
  .header_title {
    width: 353px;
    font-size: 30px;
    line-height: 1.23;
  }
}

@media screen and (min-width: 1024px) {
  .header_title {
    width: 589px;
    font-size: 50px;
    line-height: 1.22;
  }
}

.hero {
  padding-top: 78px;
}

@media screen and (min-width: 603px) {
  .hero {
    padding-top: 40px;
  }
}

.container-hero {
  margin-bottom: -60px;
  padding-left: auto;
  padding-right: auto;
  height: 364px;
  min-width: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-mob.jpg);
  background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-mob-2x.jpg);
    background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-mob-2x.jpg);
  }
}

@media screen and (min-width: 321px) {
  .container-hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-tab.jpg);
    background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-tab.jpg);
  }
}

@media screen and (min-width: 321px) and (min-device-pixel-ratio: 2), screen and (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 321px) and (min-resolution: 192dpi), screen and (min-width: 321px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-tab-2x.jpg);
    background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-tab-2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .container-hero {
    height: 446px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-lap.jpg);
    background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-lap.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .container-hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(var(--background-overlay)), color-stop(var(--background-overlay)), to(var(--background-overlay))), url(../../src/images/hero/hero-lap-2x.jpg);
    background-image: linear-gradient(to top, transparent, var(--background-overlay), var(--background-overlay), var(--background-overlay)), url(../../src/images/hero/hero-lap-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    height: 446px;
  }
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-btn-color: silver;
  --inv-btn-main-color: rgb(63, 63, 63);
  --animation-duration: 250ms;
}

.events-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 24px;
}

.events-list {
  display: -ms-grid;
  display: grid;
  max-width: 92vw;
  padding-left: 12px;
  padding-right: 12px;
  -ms-grid-columns: (minmax(40vw, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  grid-column-gap: 4.5vw;
  grid-row-gap: 12vw;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .events-list {
    max-width: 81vw;
    padding-left: 14px;
    padding-right: 14px;
    -ms-grid-columns: (minmax(23.4vw, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(23.4vw, 1fr));
    grid-column-gap: 3.5vw;
    grid-row-gap: 7.6vw;
  }
}

@media screen and (min-width: 1280px) {
  .events-list {
    max-width: 81vw;
    padding-left: 16px;
    padding-right: 16px;
    -ms-grid-columns: (minmax(15.3vw, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(15.3vw, 1fr));
    grid-column-gap: 5.5vw;
    grid-row-gap: 4.9vw;
  }
}

.event-item {
  position: relative;
  width: 40vw;
}

@media screen and (min-width: 768px) {
  .event-item {
    width: 23.4vw;
  }
}

@media screen and (min-width: 1280px) {
  .event-item {
    width: 15.5vw;
  }
}

.img-frame {
  width: 40vw;
  height: 50.3vw;
}

@media screen and (min-width: 768px) {
  .img-frame {
    width: 23.4vw;
    height: 29.6vw;
  }
}

@media screen and (min-width: 1280px) {
  .img-frame {
    width: 15.5vw;
    height: 17.7vw;
  }
}

.img-frame > img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-list-link {
  text-decoration: none;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
}

.event-list-link:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.decorative-frame {
  position: absolute;
  top: -3vw;
  right: -3vw;
  width: 33.7vw;
  height: 31.6vw;
  border: solid 1px rgba(220, 86, 197, 0.3);
  border-radius: 50px 0px;
}

@media screen and (min-width: 768px) {
  .decorative-frame {
    top: -1.8vw;
    right: -1.8vw;
    width: 19.9vw;
    height: 18.6vw;
  }
}

@media screen and (min-width: 1280px) {
  .decorative-frame {
    top: -1.1vw;
    right: -1.1vw;
    width: 12vw;
    height: 11.2vw;
  }
}

.img-frame {
  width: 100%;
  border-radius: 50px 0px;
  overflow: hidden;
}

.img-list-link {
  width: 100%;
}

.event-description,
.event-data,
.event-lokation {
  margin-top: 5px;
  font-family: Montserrat;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}

.event-description {
  font-size: 14px;
  font-weight: 700;
  color: #dc56c5;
}

@media screen and (min-width: 768px) {
  .event-description {
    font-size: 16px;
  }
}

.event-data {
  font-size: 14px;
  font-weight: 200;
  color: white;
}

@media screen and (min-width: 768px) {
  .event-data {
    font-size: 16px;
  }
}

.event-lokation {
  font-size: 12px;
  font-weight: 600;
  color: white;
}

@media screen and (min-width: 768px) {
  .event-lokation {
    font-size: 14px;
  }
}

.event-place {
  font-size: 12px;
}

.btn-gen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px 0;
  background-color: var(--main-btn-color);
  color: var(--inv-btn-main-color);
  font-weight: 600;
}

.done-btn {
  margin: 12px auto 48px auto;
  width: 240px;
  opacity: 0.6;
  background-color: #dc56c5;
  color: var(--inv-btn-main-color);
}

.opacity-btn {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.6;
  -webkit-transition: opacity var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
  transition: opacity var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
  transition: opacity var(--animation-duration) var(--timing-function), transform var(--animation-duration) var(--timing-function);
  transition: opacity var(--animation-duration) var(--timing-function), transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
}

.opacity-btn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  opacity: 0.8;
}

.fix-top-btn {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.hide-el {
  display: none;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--modal-text-color);
}

@media screen and (max-width: 767px) {
  body {
    background-image: url(../images/background/mobile/bg-body-mob.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/background/mobile/bg-body-mob@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  body {
    background-size: 595px,contain;
    background-position: top,bottom;
    background-image: url(../images/background/tablet/decor-body-tabl.png), url(../images/background/tablet/bg-body-tabl.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/background/tablet/decor-body-tabl@2x.png), url(../images/background/tablet/bg-body-tabl@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-size: 1050px,contain;
    background-position: top,bottom;
    z-index: 100,20;
    background-image: url(../images/background/desktop/decor-desktop.png), url(../images/background/desktop/bg-body-desk.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  body {
    background-image: url(../images/background/desktop/decor-desk@2x.png), url(../images/background/desktop/bg-body-desk@2x.png);
  }
}

.hidden-list {
  display: none;
}

.label-country {
  position: relative;
  display: inline;
}

.datalist-country {
  position: absolute;
  z-index: 10;
  max-height: 170px;
  width: 270px;
  overflow: auto;
  background-color: var(--form-input-background);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--form-imput-text-active);
  text-align: left;
  vertical-align: top;
  border-radius: 0 0 20px 20px;
}

.datalist-country :focus,
.datalist-country :hover {
  background-color: var(--form-imput-bgc-active);
}

.datalist-country::after {
  content: '';
  background-image: url(./../images/line.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 226px;
  height: 1px;
  left: 22px;
  top: 1px;
}

.datalist-country li {
  padding-left: 30px;
  padding-top: 2px;
  outline: none;
}

.datalist-country :first-child {
  margin-top: 6px;
}

.input-country:focus,
.input-country :hover {
  border-radius: 20px 20px 0 0;
}

.notice-position {
  position: fixed;
  z-index: 100;
  width: 360px;
}

.pnotify-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 1;
  pointer-events: initial;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
}
/*# sourceMappingURL=main.css.map */