.hidden-list {
  display: none;
}

// .hidden-visually {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   white-space: nowrap;
//   -webkit-clip-path: inset(50%);
//   clip-path: inset(50%);
//   border: 0;
// }

.label-country {
  position: relative;
  display: inline;
}

.datalist-country {
  position: absolute;
  z-index: 10;
  max-height: 170px;
  width: 270px;
  overflow: auto;
  background-color: var(--form-input-background);
  backdrop-filter: blur(20px);

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--form-imput-text-active);
  text-align: left;
  vertical-align: top;
  // :hover,
  :focus {
    background-color: var(--form-imput-bgc-active);
  }

  &::after {
    content: '';
    background-image: url(./../images/line.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 226px;
    height: 1px;
    left: 22px;
    top: 1px;
  }
  border-radius: 0 0 20px 20px;

  li {
    padding-left: 30px;
    padding-top: 2px;
    outline: none;
  }
  :first-child {
    margin-top: 6px;
  }
}

.datalist-item:hover {
  background-color: var(--form-imput-bgc-active);
}

.input-country {
  // & :hover,
  &:focus {
    border-radius: 20px 20px 0 0;
  }
}
