:root {
  --main-background-color: #212121;
  --background-overlay: #0b0b0b80;
  --main-title-color: #dc56c5;
  --event-name-color: #dc56c5;
  --other-event-text: #ffffff;
  --event-icons-color: #ffffff;
  --form-input-background: rgba(255, 255, 255, 0.2);
  --form-input-text: #939393;
  --form-imput-text-active: #cccccc;
  --form-imput-bgc-active: #dc56c5;
  --form-input-icons: #939393;
  --pagination-color-text: #ffffff;
  --pagination-color-active: #dc56c5;
  --footer-text-color: #939393;
  --modal-background-color: #fff2fd;
  --modal-title-color: #dc56c5;
  --modal-text-color: #0e0e0e;
  --modal-btn-text: #ffffff;
  --modal-btn-background: #4c00fe;
  --modal-more-author: #4c00fe;
  --modal-close-btn: #4c00fe;
}
