<section class="events-section">
    <div class="result-container js-result-container">
        <ul id="events" class="events-list">
        </ul>
    </div>
    <button type="button" class="btn-gen opacity-btn done-btn js-done-btn hide-el">
        <span class="material-icons">done_all</span>
        <p>DONE. Request is completed or incorrect</p>
        <p>CLICK to new request</p>
    </button>
    <!-- Разметка переключателя темы -->
    <div class="scroll-switch" data-toggle="off">
        <p class="toggle-text">Infinite Scroll: </p>
        <div class="icon-container js-toggle"> 
            <span class="material-icons toggle-icon on-icon hide-el" >
                done
            </span>
            <span class="material-icons toggle-icon off-icon">
                close
            </span>
        </div>
    </div>
</section>                                      