<header>
  <section class="container container-hero">
    <img class="header_logo" src="./images/logo/logo.svg" alt="Event booster logo">
    <div class="hero">
      <h1 class="header_title">FIND BEST EVENTS
      AROUND THE WORLD</h1>
      <form action="" class="search-form">
        <input type="text" placeholder="Start searching" />

        
        <label for="custom-select"></label>
        <input class="input-country" type="text" id="custom-select" id="country-choice" placeholder="Choose country">
        <img src="./images/sprite.svg#icon-close" alt="">
        <ul class="country-datalist">
          <li class="option-country" tabindex='0'>Ukraine</li>
          <li class="option-country" tabindex='0'>USA</li>
          <li class="option-country" tabindex='0'>Canada</li>
          <li class="option-country" tabindex='0'>Uganda</li>
        </ul>
        <!-- <div id='custom-select-status' class='hidden-visually' aria-live='polite'></div> -->
        
        
        <!-- <input 
          list="country-name"
          id="country-choice"
          name=""
          placeholder="Choose country"
        />
        <datalist class="input-datalist" id="country-name">
          <option  value="Ukraine"></option>
          <option value="USA"></option>
          <option value="Canada"></option>
          <option value=""></option>
        </datalist> -->
      </form>
    </div>
  </section>
</header>
