<header>
  <section class="container container-hero">
    <img class="header_logo" src="./images/logo/logo.svg" alt="Event booster logo">
    <div class="hero">
      <h1 class="header_title">FIND BEST EVENTS
      AROUND THE WORLD</h1>
      <form action="" class="search-form">

        <label class="label-search">
            <input class="input input-search" type="text" placeholder="Start searching" autocomplete="off" />
        </label>

        
        <label class="label-country" for="custom-select">
          <!-- <svg class="icon-country" widht="12" height="12">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg> -->
        <input class="input input-country" type="text" id="country-choice" placeholder="Choose country" autocomplete="off">
        <ul class="datalist-country hidden-list">
        </ul>
        </label>
        <!-- <div id='custom-select-status' class='hidden-visually' aria-live='polite'></div> -->
 
      </form>
    </div>
  </section>
</header>
