<div class="container">
    <ul class="pagination uk-pagination uk-flex-center" uk-margin>
        <!-- <li><a href="#"><span uk-pagination-previous></span></a></li> -->
        <li class="uk-active"><a href="#">1</a></li>
        <!-- <li class="uk-disabled"><span>...</span></li> -->
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <!-- <li class="uk-active"><span>7</span></li> -->
        <!-- <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li> -->
        <li class="uk-disabled"><span>...</span></li>
        <li><a href="#">29</a></li>
        <!-- <li><a href="#"><span uk-pagination-next></span></a></li> -->
    </ul>
</div>
