<div class="team-modal">
  <div div class="team-modal-overlay"></div>
  <div class="team-modal-content">
    <div class="team-img-card card-1">
      <div class="img-container">
        <img src="./images/team/Danylo-Yevsikov.jpg" alt="Danylo-Yevsikov" />
      </div>
      <p class="team-card-text">Danylo Yevsikov</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-2">
      <div class="img-container">
        <img src="./images/team/Oleh-Mohylnyi.jpg" alt="Oleh-Mohylnyi" />
      </div>
      <p class="team-card-text">Oleh Mohylnyi</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-3">
      <div class="img-container">
        <img
          src="./images/team/Andrey-Volchenskiy.jpg"
          alt="Andrey-Volchenskiy"
        />
      </div>
      <p class="team-card-text">A. Volchenskiy</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-4">
      <div class="img-container">
        <img src="./images/team/Yuliya-Shchur.jpg" alt="Yuliya-Shchur" />
      </div>
      <p class="team-card-text">Yuliya Shchur</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-5">
      <div class="img-container">
        <img src="./images/team/Yakov-Fomin.jpg" alt="Yakov-Fomin" />
      </div>
      <p class="team-card-text">Yakov Fomin</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-6">
      <div class="img-container">
        <img src="./images/team/ILLIA-Kahanov.jpg" alt="ILLIA-Kahanov" />
      </div>
      <p class="team-card-text">ILLIA Kahanov</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-7">
      <div class="img-container">
        <img src="./images/team/Aleksej-Borsh.jpg" alt="Aleksej-Borsh" />
      </div>
      <p class="team-card-text">Aleksej Borsh</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-8">
      <div class="img-container">
        <img src="./images/team/Rostyslav-Perig.jpg" alt="Rostyslav-Perig" />
      </div>
      <p class="team-card-text">Rostyslav Perig</p>
      <div class="team-card-frame"></div>
    </div>
    <div class="team-img-card card-9">
      <div class="img-container">
        <img
          src="./images/team/Vladyslav-Sukachev.jpg"
          alt="Vladyslav-Sukachev"
        />
      </div>
      <p class="team-card-text">Vlad Sukachev</p>
      <div class="team-card-frame"></div>
    </div>
    <button type="button" class="team-close-btn">
      <span class="material-icons team-closer"> close </span>
    </button>

    <div class="stars">
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
  </div>
</div>
