
.footer{

    @media screen and (min-width: 320px){
        padding-top: 67px;
        padding-bottom: 27px;
    }
    @media screen and (min-width: 768px){
         padding-top: 65px;
        padding-bottom: 18px;
     }
    
     @media screen and (min-width: 1280px){
       
        padding-top: 85px;
        padding-bottom: 19px;
     }

}


.text-footer{
    @media screen and (min-width: 320px){
    display: block;
    width:252px;
    height:34px;
    margin-left: auto;
    margin-right: auto;
    }
    @media screen and (min-width: 768px){
    display: block;
    width:521px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    }
}

.footer-text_links{
@media screen and (min-width: 320px){
     display: block;
    text-align:center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color:var(--footer-text-color);
}

@media screen and (min-width: 768px){
    font-size: 16px;
    line-height: 1.25;
}


}
.heart{
    color:red;
    font-size: 20px;
}