// .hero {
//   position: relative;
// }

.search-form {
  text-align: center;
  padding-top: 25px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 6;

  .input-search {
    margin-right: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: 645px) {
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 52px;
  }
  @media screen and (max-width: 645px) {
    display: grid;
    .datalist-country {
      left: 0%;
    }
  }
}

.label-search {
  position: relative;
}

.input {
  padding-left: 30px;
  width: 270px;
  height: 40px;
  background-color: var(--form-input-background);
  backdrop-filter: blur(20px);
  border: 0;
  border-radius: 20px;

  color: var(--form-input-text);

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.25;

  &:focus,
  &:hover {
    color: var(--form-imput-text-active);
    box-shadow: 0px -10px 13px var(--main-title-color),
      0px 10px 13px var(--main-title-color);
  }

  outline: none;
}

// версия стрелочки на инпуте через афтер с ховером
//
// .label-country {
//   &::after {
//     content: '';
//     background-image: url(./../images/down.svg);
//     background-repeat: no-repeat;
//     position: absolute;
//     width: 15px;
//     height: 10px;
//     left: 225px;
//     bottom: 14px;
//     transform: rotate(0deg);
//     transition: transform 400ms ease-in-out 0ms;
//   }
//   &:hover,
//   &:focus {
//     &::after {
//       content: '';
//       transform: rotate(180deg);
//       transition: transform 400ms ease-in-out 0ms;
//       background-image: url(./../images/up.svg);
//     }
//   }
// }

.label-country {
  position: relative;
}

.input-triangle {
  position: absolute;
  left: 225px;
  top: 16px;
  height: 0;
  width: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid var(--form-input-icons);
  transform: rotate(0deg);
  transition: transform 400ms ease-in-out 0ms;
  // cursor: pointer;
}

.input-triangle-rotate {
  transform: rotate(180deg);
  transition: transform 400ms ease-in-out 0ms;
}

.btn-search {
  position: absolute;
  background-color: transparent;
  border: 0;
  color: var(--form-input-icons);
  left: 218px;
  top: 11px;
}

.icon-search {
  fill: var(--form-input-icons);
  cursor: pointer;
  transition: transform 400ms ease-in-out 0ms;
  transform: scale(1);

  &:hover {
    fill: var(--form-imput-bgc-active);
    transform: scale(1.3);
    transition: transform 400ms ease-in-out 0ms;
  }
}

.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.label-open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  display: block;
  margin-top: 5px;
  // padding-left: 30px;
}

.checkbox-open-menu {
  appearance: none;

  &:checked + .btn-open-menu--icon {
    // &:focus :first-child {
    fill: var(--form-imput-bgc-active);
  }
}

.btn-open-menu--icon {
  // margin-left: auto;
  fill: var(--form-input-icons);
  cursor: pointer;
  margin-left: 30px;
  &:hover {
      -webkit-animation: rotate-in-center 1s cubic-bezier(0.250, 0.250, 0.250, 0.250) infinite both;
      animation: rotate-in-center 1s cubic-bezier(0.250, 0.250, 0.250, 0.250) infinite both;
  }
  @media screen and (max-width: 645px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.form {
  display: flex;
  // justify-content: space-between;
  // display:  block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  align-items: center;

  @media screen and (max-width: 645px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-hero.container-hero-big {
  @media screen and (max-width: 645px) {
    margin-bottom: 25px;
  }
}

// .select {
//   width: 212px;
//   background-color: transparent;
//   color: var(--form-imput-bgc-active);
//   border: none;
//   outline: none;
//   font-weight: 700;
//   cursor: pointer;

//   &:first-child {
//     margin-bottom: 15px;
//     margin-top: 15px;
//     @media screen and (min-width: 645px) {
//       margin-right: 45px;
//     }
//   }
// }

.select { 
  display: flex; 
  font-size: 16px; 
  // font-family: sans-serif; 
  font-weight: 700; 
  color: #db56c4; 
  line-height: 1.3; 
  padding: .6em 1.4em .5em .8em; 
  max-height: 40px;
  max-width: 200px; 
  box-sizing: border-box; 
  margin: 0; 
  // border: 1px solid #aaa;
   box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .5em;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: transparent;
  // background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%; 

  &:first-child {
        margin-bottom: 15px;
        margin-top: 15px;
        @media screen and (min-width: 645px) {
          margin-right: 45px;
        }  
  }    
} 

   .select::-ms-expand { display: none; } 
   .select:hover { border-color: #888; } 
   .select:focus { border-color: #aaa; 
   box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
   box-shadow: 0 0 0 3px -moz-mac-focusring; 
  color: #222;
   outline: none; 
  } 
   .select option { font-weight:normal; } 
   *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
  background-position: left .7em top 50%, 0 0; 
  padding: .6em .8em .5em 1.4em; 
  }