// .hero {
//   position: relative;
// }

.search-form {
  text-align: center;
  padding-top: 25px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 6;

  .input-search {
    margin-right: 30px;
    margin-bottom: 25px;
    @media screen and (max-width: 645px) {
      margin-bottom: 25px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 27px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 52px;
  }
  @media screen and (max-width: 645px) {
    display: grid;
    .datalist-country {
      left: 0%;
    }
  }
}

.label-search {
  position: relative;
}

.input {
  padding-left: 30px;
  width: 270px;
  height: 40px;
  background-color: var(--form-input-background);
  backdrop-filter: blur(20px);
  border: 0;
  border-radius: 20px;

  color: var(--form-input-text);

  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.25;

  &:focus,
  &:hover {
    color: var(--form-imput-text-active);
    box-shadow: 0px -10px 13px var(--main-title-color),
      0px 10px 13px var(--main-title-color);
  }

  outline: none;
}

// версия стрелочки на инпуте через афтер с ховером
//
// .label-country {
//   &::after {
//     content: '';
//     background-image: url(./../images/down.svg);
//     background-repeat: no-repeat;
//     position: absolute;
//     width: 15px;
//     height: 10px;
//     left: 225px;
//     bottom: 14px;
//     transform: rotate(0deg);
//     transition: transform 400ms ease-in-out 0ms;
//   }
//   &:hover,
//   &:focus {
//     &::after {
//       content: '';
//       transform: rotate(180deg);
//       transition: transform 400ms ease-in-out 0ms;
//       background-image: url(./../images/up.svg);
//     }
//   }
// }

.label-country {
  position: relative;
}

.input-triangle {
  position: absolute;
  left: 225px;
  top: 16px;
  height: 0;
  width: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7.5px solid var(--form-input-icons);
  transform: rotate(0deg);
  transition: transform 400ms ease-in-out 0ms;
  // cursor: pointer;
}

.input-triangle-rotate {
  transform: rotate(180deg);
  transition: transform 400ms ease-in-out 0ms;
}

.btn-search {
  position: absolute;
  background-color: transparent;
  border: 0;
  color: var(--form-input-icons);
  left: 218px;
  top: 11px;
}

.icon-search {
  fill: var(--form-input-icons);
  cursor: pointer;
  transition: transform 400ms ease-in-out 0ms;
  transform: scale(1);

  &:hover {
    fill: var(--form-imput-bgc-active);
    transform: scale(1.3);
    transition: transform 400ms ease-in-out 0ms;
  }
}

.hidden-visually {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

.label-open-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  display: block;
  margin-top: 5px;
  // padding-left: 30px;
}

.checkbox-open-menu {
  appearance: none;

  &:checked + .btn-open-menu--icon {
    // &:focus :first-child {
    fill: var(--form-imput-bgc-active);
  }
}

.btn-open-menu--icon {
  // margin-left: auto;
  fill: var(--form-input-icons);
  cursor: pointer;
  margin-left: 30px;
  @media screen and (max-width: 645px) {
    margin-left: 0;
    margin-top: 20px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  // display:  block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  @media screen and (max-width: 645px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-hero.container-hero-big {
  @media screen and (max-width: 645px) {
    margin-bottom: 25px;
  }
}

.select {
  width: 212px;
  background-color: transparent;
  color: var(--form-imput-bgc-active);
  border: none;
  outline: none;
  font-weight: 700;
  cursor: pointer;

  &:first-child {
    margin-bottom: 15px;
    margin-top: 15px;
    @media screen and (min-width: 645px) {
      margin-right: 45px;
    }
  }
}
