.header_logo {
  position: absolute;
  width: 108px;
  height: 90px;
  border-radius: 0 0 216px / 180px 0;
  backdrop-filter: blur(3px);
  @media screen and (min-width: 603px) {
    width: 180px;
    height: 151px;
    border-radius: 0 0 360px / 302px 0;
  }
  @media screen and (min-width: 1024px) {
    width: 238px;
    height: 201px;
    border-radius: 0 0 476px / 402px 0;
  }
}

.logo-div {
  backdrop-filter: blur(3px);
}

.header_title {
  margin: 0px auto 0 auto;
  width: 212px;
  color: var(--main-title-color);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  @media screen and (min-width: 603px) {
    width: 353px;
    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: 1024px) {
    width: 589px;
    font-size: 50px;
    line-height: 1.22;
  }
}

.hero {
  padding-top: 78px;
  @media screen and (min-width: 603px) {
    padding-top: 40px;
  }
}

.container-hero {
  margin-bottom: -60px;
  padding-left: auto;
  padding-right: auto;
  height: 364px;
  // min-width: 320px;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: top center;
  // background-image: linear-gradient(
  //     to top,
  //     transparent,
  //     var(--background-overlay),
  //     var(--background-overlay),
  //     var(--background-overlay)
  //   ),
  //   url(../../src/images/hero/hero-mob.jpg);

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: linear-gradient(
  //       to top,
  //       transparent,
  //       var(--background-overlay),
  //       var(--background-overlay),
  //       var(--background-overlay)
  //     ),
  //     url(../../src/images/hero/hero-mob-2x.jpg);
  // }

  // @media screen and (min-width: 321px) {
  //   background-image: linear-gradient(
  //       to top,
  //       transparent,
  //       var(--background-overlay),
  //       var(--background-overlay),
  //       var(--background-overlay)
  //     ),
  //     url(../../src/images/hero/hero-tab.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         to top,
  //         transparent,
  //         var(--background-overlay),
  //         var(--background-overlay),
  //         var(--background-overlay)
  //       ),
  //       url(../../src/images/hero/hero-tab-2x.jpg);
  //   }
  // }

  // @media screen and (min-width: 769px) {
  //   height: 446px;
  //   background-image: linear-gradient(
  //       to top,
  //       transparent,
  //       var(--background-overlay),
  //       var(--background-overlay),
  //       var(--background-overlay)
  //     ),
  //     url(../../src/images/hero/hero-lap.jpg);

  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient(
  //         to top,
  //         transparent,
  //         var(--background-overlay),
  //         var(--background-overlay),
  //         var(--background-overlay)
  //       ),
  //       url(../../src/images/hero/hero-lap-2x.jpg);
  //   }
  // }

  @media screen and (min-width: 1280px) {
    height: 446px;
  }
}
