.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 60px;
    padding: 0;
    
    @media screen and (min-width: 1280px) {
        margin-top: 80px;
    }
}
.pagination > li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;

}
.pagination > li > a {

    padding: 5px 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;

    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: var(--pagination-color-text);
    text-decoration: none;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.25;
    }


}
    
.pagination > * > :hover,
.pagination > * > :focus {
    color: var(--pagination-color-active);
    border: 1px solid var(--pagination-color-active);
    border-radius: 25% 0%;
}

.pagination > .uk-active > * {
    
    border: 1px solid var(--pagination-color-active);
    border-radius: 25% 0%;
}


.uk-disabled {
    color: var(--pagination-color-text);
}
    

